includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 5
  paths:
    - includes
    - speedmate.php
  bootstrapFiles:
    - tests/phpstan-bootstrap.php
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - '#Call to static method (success|line|add_command|error)\(\) on an unknown class WP_CLI#'
    - '#Function WP_CLI\\Utils\\format_items not found#'
