name: Static Analysis

on:
  pull_request:
  push:
    branches: [main]

jobs:
  analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          tools: composer

      - name: Install dependencies
        run: composer install --no-interaction --no-progress

      # - name: Run PHPCS
      #   run: vendor/bin/phpcs

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse
